include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/spectrum *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/spectrum/migration *.ini *.py *.mako
